* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

body {
  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4ca2cd,
    #67b26f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4ca2cd,
    #67b26f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 100px 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow: scroll;
}
.todo-item {
  background-color: rgba(255, 255, 255, 0.307);
  /* background-color: transparent; */
    backdrop-filter: blur(20px);
  border-radius: 5px;
  padding: 5px 10px;

  display: flex;
  gap: 10px;
  width: 80%;
  align-self: center;
  line-height: 1.6;
  cursor: pointer;
}

.todo-button {
  width: 20px;
  height: 20px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.629);
  align-self: flex-start;
  flex-shrink: 0;
  cursor: pointer;
  appearance: none;
  border: 2px solid green;
  margin-top: 0.5em;
}
.todo-button input:checked{
  background-color: rgba(0, 128, 0, 0.477);
}

.important-todo-buttn{
  border: 2px solid red;
}
.todo-content-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.todo-title {
  font-size: 20px;
  font-weight: 500;
}
.todo-discription {
  font-weight: 400;
}

.edit-button{
  margin-left: auto;
  cursor: pointer;
  padding: 5px 10px;
  align-self: center;
  border: 3px solid black;
  color: black;
  border-radius: 7px;
  background-color: transparent;
}
.edit-button:hover{
  background-color: black;
  color: white;
}

.delete-todo {
  align-self: center;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='30px' viewBox='0 -960 960 960' width='30px' fill='%23000000'%3E%3Cpath d='M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  cursor: pointer;
}

.delete-todo:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='30px' viewBox='0 -960 960 960' width='30px' fill='red'%3E%3Cpath d='M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z'/%3E%3C/svg%3E");
}

.delete-button{
  margin-left: auto;
  cursor: pointer;
  padding: 10px 15px;
  align-self: center;
  border-radius: 7px;
  border: none;
  background-color: red;
  color: white;
}
.delete-button:hover{
  background-color: rgba(253, 56, 56, 0.918);
}

/* Side bar */

.sidebar {
  background-color: rgba(255, 255, 255, 0.187);
  backdrop-filter: blur(20px);
  padding: 20px;

  display: flex;
  flex-direction: column;

  gap: 30px;
}

.heading-container {
  padding-top: 30px;
  padding-left: 30px;
  background-color: rgba(255, 255, 255, 0.187);
  backdrop-filter: blur(20px);
}
.content-heading {
  padding-top: 30px;
  padding-left: 30px;
}

.setting-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;

  cursor: pointer;
}
.setting-container li {
  font-size: 20px;
  padding: 10px;
  display: flex;
  gap: 10px;
}
svg {
  width: 1em;
  height: 1em;
}

.setting-container li:hover {
  background-color: rgba(255, 255, 255, 0.163);
}

.notification {
  font-weight: 300;
  font-size: 15px;
  margin-left: auto;
  margin-right: 50px;
  background-color: rgba(0, 0, 0, 0.859);
  color: white;
  padding: 2.5px 7px;
  border-radius: 100px;
}

/* DIALOG  */

dialog {
  background-color: rgba(255, 255, 255, 0.375);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 25%;
  left: 30%;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border: none;
  border-radius: 10px;
  line-height: 1.6;
  padding: 15px;
  padding-bottom: 0px;
}
dialog::backdrop {
  backdrop-filter: blur(5px);
}
dialog form {
  display: flex;
  flex-direction: column;

  outline: none;
  width: 30em;
}
#title,
#discription,#edit-title, #edit-discription {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  padding: 0;
}
::placeholder {
  color: black;
}
#title, #edit-title {
  font-size: 20px;
  font-weight: 500;

  margin-top: 10px;
}
#discription, #edit-discription {
  font-size: 15px;
  resize: none;

  margin-top: 10px;
  margin-bottom: 10px;
}
.button-container {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-self: flex-end;
  gap: 10px;
}

.addTask-button:hover {
  background-color: #2c974b;
  border-color: #1b1f2326;
  transition-duration: 0.1s;
}
.cancel-button,
.addTask-button, .cancel-edit-button, .saveChanges-button {
  outline: none;
  cursor: pointer;
  font-size: 16px;

  font-weight: 400;
  border-radius: 8px;
  padding: 10px 14px;
  border: none;
  color: #fff;
}
.cancel-button, .cancel-edit-button {
  background-color: red;
}
.addTask-button, .saveChanges-button {
  background-color: rgb(36, 174, 36);
  margin-right: 10px;
}


/* date elements */
#date,#edit-date {
  background-color: #fdfdfd55;
  border: none;
}
.due-date {
  background-color: rgba(239, 62, 62, 0.408);

  border-radius: 5px;
  padding: 1px 5px;
  width: fit-content;
}
.date-priority-container {
  display: flex;
  justify-content: space-between;
}
.important {
  border-left: 10px solid red;
}
